<div id="nav-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-4 light-white" id="nav-logo">
				BConnectTo
			</div>
			<div class="col-md-2 col-md-offset-6 light-white" id="sign-up">
				Sign Up
			</div>
		</div>
	</div>
</div><!--NAV-BAR-->


<div class="container-fluid">
	<div id="main-background">
		<div class="row">
			<div class="col-md-3 col-md-offset-7" id="sign-in-display">
				<h1>Sign Up</h1>
				<input type="text" class="form-control" name="full-name" value="" placeholder="Full Name" /><br />
				<input type="text" class="form-control" name="email" value="" placeholder="Email" /><br />
				<input type="password" class="form-control" name="password" value="" placeholder="Password" /><br />
				<input type="submit" class="btn btn-primary" value="Sign Up!" />
			</div>
		</div>

	</div>
<!-- Need to work on the re-sizing of the backgorund ot match everything required -->

</div><!--END #MAIN-BACKGROUND-->


<div class="container-fluid">
	<div class="row" id="middle-row">
		<div class="col-md-4 col-md-offset-2">
			<h1>Automatic Updates</h1>
			<p id="description">
			No more outdated business cards.  When your contact updates their information, it automatically updates in your Contacts app in your system.
			</p>
		</div>
		<div class="col-md-4 col-md-offset-1" id="cell-phone-images">
			
		</div>
	</div>

</div> <!--END #MIDDLE-ROW-->